<section class="search-window vh-50">
    
</section>

<section class="section-bg">
    <div class="container">
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-8 mx-0 mx-md-5 dictionary-page-body pb-5">
                <div class="row mx-4">
                    <span class="mt-4">
                        <span class="route-heading">Home</span>
                        >
                        <span class="route-heading">Translator</span>
                    </span>

                    <div class="col-12 mt-2 mb-2 box-line"></div>

                    <div class="row">
                        <div class="col-12 mt-4">
                            <span class="translator-heading">In-Built translator</span>
                        </div>

                        <div class="col-12 mt-1">
                            <span class="translator-text">Choose your From and To languages.</span>
                        </div>

                        <div class="col-12 mt-4">
                            <a href="#"><img src="./../../../../../assets/img/translate-text-icon.png" class="img-fluid"></a>
                            <a href="#"><img src="./../../../../../assets/img/translate-file-icon.png" class="img-fluid"></a>
                        </div>
                    </div>

                    <div class="row mt-4">

                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <span class="dropdown-el">
                                                <input type="radio" name="sortType" value="Relevance" checked="checked" id="sort-relevance"><label
                                                    for="sort-relevance">Relevance</label>
                                                <input type="radio" name="sortType" value="Popularity" id="sort-best"><label for="sort-best">Product
                                                    Popularity</label>
                                                <input type="radio" name="sortType" value="PriceIncreasing" id="sort-low"><label for="sort-low">Price Low to
                                                    High</label>
                                                <input type="radio" name="sortType" value="PriceDecreasing" id="sort-high"><label for="sort-high">Price High to
                                                    Low</label>
                                                <input type="radio" name="sortType" value="ProductBrand" id="sort-brand"><label for="sort-brand">Product
                                                    Brand</label>
                                                <input type="radio" name="sortType" value="ProductName" id="sort-name"><label for="sort-name">Product Name</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-6">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>