.registration-box {
    // margin-top: 10rem;
    background-color: #444967;
}

.registration-heading {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;

    color: #FFFFFF;
}

.registration-text {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;

    color: #FFFFFF;
}