<div class="container" >
    <div class="row">
        <div class="col-6 d-none d-lg-block" >
            <div class="row d-flex">
                <div class="col-12 col-lg-2">
                    <img src="../../../../assets/img/vu-logo.svg"/>
                </div>
                <div class="col-5 d-flex align-items-center">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="search-heading">Make your words meaningful </span>
                        </div>
                        <div class="col-md-12">
                            <span class="search-heading-sub">Powered by VU.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 pt-5" >
           <div class="row">
               <div class="col-12">
                <app-search-bar></app-search-bar>
               </div>
               <div class="col-12 ">
                   <span class="oxford-heading text-right">Oxford English Dictionary, meaning, pronuancations synonyms.</span>
               </div>
           </div>
        </div>
    </div>
</div>