.search-window {
    background-color: #7B3838;
    min-height: 19vh
}

.search-heading {
    font-family: 'Slabo 13px', serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;

    color: #FFFFFF;
}

.search-heading-sub {
    font-family: 'Slabo 13px', serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;
}

.oxford-heading {
    font-family: Sorts Mill Goudy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;

    color: #FFFFFF;
}

.oxford-text {
    text-align:left;
}

.registration-box {
    // margin-top: 10rem;
    background-color: #444967;
}