<section class="search-window vh-50">
    <app-vu-search></app-vu-search>
</section>

<section class="section-bg">
    <div class="container">
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-8 mx-0 mx-md-5 dictionary-page-body pb-5">
                <div class="row mx-4">
                    <div class="col-12 mt-3 d-flex justify-content-start m-0 p-0">
                        <span>
                            <span class="route-heading">Home</span>
                            >
                            <span class="route-heading">Dictionary</span>
                            >
                            <span class="route-heading">{{ searchedWord | titlecase}}</span>
                        </span>
                    </div>
        
                    <div class="col-12 mt-2 mb-2 box-line"></div>
        
                    <div class="col-12 mt-2">
                        <div class="row ">
                            <div class="col-12 py-1  meanings-box">
                                <span class="meaning-text">Main meanings of {{ searchedWord | titlecase }} in English: </span>
                                                                    <span  class="meanings-box-numbers"><a [routerLink] = "['/dictionary/', searchedWord]"  [fragment]="'initial'+ searchedWord">{{searchedWord}}<sup>1</sup></a></span>

                                    <span *ngFor="let meaning of definitions; let j = index;" class="meanings-box-numbers"><a [routerLink] = "['/dictionary/', searchedWord]"  [fragment]="searchedWord + j">{{searchedWord}}<sup>{{ j+2 }}</sup></a></span>
                            </div>
                        </div>
                    
                    </div>
        
                    <div class="col-12 mt-5 m-0 p-0 d-flex justify-content-start">
                        <span class="main-word-heading">{{ initialDefinition.word }}<sup class="main-meaning-num">1</sup></span>
                    </div>
        
                    <div class="col-12 mt-3 m-0 p-0">
                        <span class="Pronunciation-heading">Pronunciation /{{ initialDefinition.phonetic}}/</span>
                        <img (click)="pronouncePronunciation()" class=" ms-1 mb-2" src="../../../../../assets/img/mic.svg" />
                    </div>
        
                    <div class="col-12 mt-4 m-0 p-0">
                        <span class="origin-text" *ngIf="initialDefinition.origin">
                            Origins: {{ initialDefinition.origin }}
                        </span>
                    </div>
        
                    <div class="col-12 mt-4 mb-1 box-lg-line"></div>
        
                    <div class="col-12 mt-1 m-0 p-0" [id]="'initial'+searchedWord">
                        <div class="row">
                            <div class="col-12">
                                <span class="part-of-speech-text">{{ initialDefinition.meanings[0].partOfSpeech | uppercase }}</span>
                            </div>
        
                            <div class="col-12 mt-4">
                                <div class="row">
                                    <div class="col-12 d-flex ">
                                        <span class="definition-num d-flex justify-content-start">1
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        
                                        <span class=" d-flex justify-content-center definition-text">
                                            {{ initialDefinition.meanings[0].definitions[0].definition }}
                                        </span>
                                    </div>
        
                                    <div class="col-12 ms-4 mt-2">
                                        <button class="btn-dictionary mx-2"><a class="btn-link">Translate</a></button>
                                        <app-synonyms-buttom [synonyms]="initialSynonyms" [word]="searchedWord"></app-synonyms-buttom>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 mt-4" *ngFor="let meaning of (initialDefinition.meanings[0].definitions); let i = index;">
                        <div class="row d-flex justify-content-start" *ngIf="i != 0">
                            <div class="col-11 d-flex ms-4">
                                <span class="definition-num">{{ i+1 }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        
                                <span class="definition-text-secondary">
                                    {{ meaning.definition }}
                                </span>
                            </div>
        
                            <div class="col-12 mt-2 mt-lg-0 d-flex justify-content-start ms-3 ps-3 ms-lg-5 ps-lg-5" *ngIf="meaning.example">
                                <span class="definition-text">example:&nbsp; <span class="example-text">{{ meaning.example }}</span></span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-12 mt-5 mb-1 box-lg-line"></div>
        
                    <div class="col-12 mt-1 m-0 p-0">
                        <div class="row">
                            <div class="col-12">
                                <span class="part-of-speech-text">{{ initialDefinition.meanings[1].partOfSpeech | uppercase }}</span>
                            </div>
        
                            <div class="col-12 mt-4" *ngFor="let verbDefinition of initialDefinition.meanings[1].definitions; let j = index;">
                                <div class="row" *ngIf="verbDefinition">
                                    <div class="col-12 d-flex ">
                                        <span class="definition-num d-flex justify-content-start">{{ j+1 }}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
        
                                        <span class=" d-flex justify-content-center definition-text">
                                            {{ verbDefinition.definition }}
                                        </span>
                                    </div>
        
                                    <div *ngIf="verbDefinition.example" class="col-12 d-flex justify-content-start mt-3 mt-lg-0  ms-3 ps-3 ms-lg-4 ps-lg-5">
                                        <span class="definition-text">example:&nbsp; <span class="example-text">
                                                </span>{{ verbDefinition.example }}</span>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-5 pt-5 mb-1 box-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-8 mx-0 mx-md-5 dictionary-page-body pb-5" *ngIf="definitions.length > 0">
                <div class="row mx-4">
                    <div class="col-12 mt-5 pt-5 mb-1 box-line"></div>
                    <div class="col-12 mt-2 d-flex justify-content-start m-0 p-0">
                        <app-definition-list [definitions]="definitions"></app-definition-list>
                    </div>
                    <div class="col-12 mt-5 pt-5 mb-1 box-line"></div>
                </div>
            </div>
        </div>
    </div>

</section>
