    
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center  col-image1" [class]="isHoveredOnElement1 ? 'darken-img' : ''" (mouseover)="isHoveredOnElement1=true" (mouseout)="isHoveredOnElement1=false">
            <span *ngIf="isHoveredOnElement1" (mouseover)="isHoveredOnElement1=true" (mouseout)="isHoveredOnElement1=false" class="main-heading-text">Dictionary</span>
        </div>

        <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center  col-image2 px-0" [class]="isHoveredOnElement2 ? 'darken-img' : ''" (mouseover)="isHoveredOnElement2=true" (mouseout)="isHoveredOnElement2=false">
            <span *ngIf="isHoveredOnElement2" (mouseover)="isHoveredOnElement2=true" (mouseout)="isHoveredOnElement2=false" class="main-heading-text">Translation</span>
        </div>

        <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center  col-image3 px-0" [class]="isHoveredOnElement3 ? 'darken-img' : ''" (mouseover)="isHoveredOnElement3=true" (mouseout)="isHoveredOnElement3=false">
            <span *ngIf="isHoveredOnElement3" (mouseover)="isHoveredOnElement3=true" (mouseout)="isHoveredOnElement3=false" class="main-heading-text">Articles</span>
        </div>

        <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center  col-image4 px-0" [class]="isHoveredOnElement4 ? 'darken-img' : ''" (mouseover)="isHoveredOnElement4=true" (mouseout)="isHoveredOnElement4=false">
            <span *ngIf="isHoveredOnElement4" (mouseover)="isHoveredOnElement4=true" (mouseout)="isHoveredOnElement4=false" class="main-heading-text">Horoscopes</span>
        </div>

        

    </div>
</div>


