.col-image1 {
    background: url("../../../../assets/img/image\ 6.svg") no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    margin:0;
    padding:0px;
}

.col-image2 {
    background: url("../../../../assets/img/image\ 5.svg") no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    margin:0;
    padding:0px;
}

.col-image3 {
    background: url("../../../../assets/img/image\ 7.svg") no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    margin:0;
    padding:0px;
}

.col-image4 {
    background: url("../../../../assets/img/image\ 8.svg") no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    margin:0;
    padding:0px;
}

.darken-img {
    filter: brightness(35%);
}

.main-heading-text {
    font-family: 'Slabo 13px', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 29px;

    color: #fff;

}